<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${anime.title}"></title>
    <style>
        .dark-text {
            color: #444;
            font-weight: 700;
        }
    </style>
</head>
<body>
<div th:insert="header.html:: header"></div>

<div ng-app="animePageApp" id="animePage" style="background: black">
    <div class="container">
        <div class="container mx-1">
            <div style="background: white;">
                <div class="row" ng-controller="scoreCtrl">
                    <div class="col container my-1" style="margin-left: 15px;border: #e5e5e5 solid 1px;
                     max-width: 20%;min-width:20%">
                        <div class="my-2 ms-2">
                            <img height="300px" style="border-radius: 10px"
                                 th:src="'/images/'+${anime.poster}"/>
                        </div>
                        <div>
                            <div>
                                <strong class="dark-text"
                                        th:text="#{title.episodes}+': '"
                                ></strong>
                                <span th:text="${anime.episodesNumber}"></span>
                            </div>
                            <div>
                                <strong class="dark-text"
                                        th:text="#{title.genre}+': '"
                                ></strong>
                                <span th:if="${!#locale.getLanguage().equals('uk')}"
                                      th:each="i : ${#numbers.sequence(0,anime.genres.size()-1)}">
                                    <span th:if="${i==anime.genres.size()-1}"
                                          th:text="' '+${anime.genres.get(i).enName}">
                                    </span>
                                        <span th:if="${i!=anime.genres.size()-1}"
                                              th:text="' '+${anime.genres.get(i).enName}+','">
                                        </span>
                                </span>
                                <span th:if="${#locale.getLanguage().equals('uk')}"
                                      th:each="i : ${#numbers.sequence(0,anime.genres.size()-1)}">
                                    <span th:if="${i==anime.genres.size()-1}"
                                          th:text="' '+${anime.genres.get(i).ukName}">
                                    </span>
                                        <span th:if="${i!=anime.genres.size()-1}"
                                              th:text="' '+${anime.genres.get(i).ukName}+','">
                                </span>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="min-height: 896px">
                        <div class="container mx-4">
                            <div id="anime_id" hidden th:text="${anime.id}"></div>
                            <div id="sessionId" hidden th:text="${sessionId}"></div>
                            <div class="mt-4">
                                <h1 th:text="${anime.title}"></h1>
                            </div>
                            <div class="container row" style="border: #e5e5e5 solid 1px;min-height: 70px;
                        background: #f8f8f8;max-width: 700px">
                                <div class="col container my-2" style="max-width: 100px;
                                border-right:1px solid #e5e5e5;">
                                    <div class="text-muted"
                                         style="font-size: 12px;
                                text-align: center" th:text="#{title.rating}+':'">

                                    </div>
                                    <div style="font-family:Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
                            font-size: 24px;font-weight: 700;text-align: center">
                                        {{rating | number:2}}
                                    </div>
                                </div>
                                <div class="col my-3">
                                    <form id="addForm" action="/addToWatchList" method="post">
                                        <input type="hidden" ng-model="anime_id" th:value="${anime.id}">
                                        <button type="submit" th:text="#{title.addToList}" style="width: 250px"
                                                class="btn btn-primary">Primary
                                        </button>
                                    </form>
                                </div>
                                <div class="col my-3">
                                    <form action="/user/score" method="post">
                                        <input type="hidden" name="anime_id" th:value="${anime.id}">
                                        <button type="button" style="width: 250px" th:text="#{title.rateAnime}"
                                                class="btn btn-primary">Primary
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    addform = document.getElementById('addForm')
    addform.onsubmit = event => {
        sessionId=document.getElementById('sessionId').textContent
        event.preventDefault();
        // Create the form object
        let uploadFormDate = new FormData(addform);
        // Initiate the AJAX request
        let request = new XMLHttpRequest();
        request.withCredentials=true;
        // Ensure the request method is POST
        request.open('POST', addform.action);
        request.withCredentials=true;
        console.log(request)
        // request.setRequestHeader('cookie','JSESSIONID='+sessionId)
        // Attach the progress event handler to the AJAX request

        // The following code will execute when the request is complete
        request.onreadystatechange = () => {
            if (request.readyState == 4 && request.status == 200) {
                // Output the response message
                uploadForm.querySelector('.result').innerHTML = request.responseText;
            }
        };
        // Execute request
        request.send(uploadFormDate);

    }

    animePage = angular.module('animePageApp',[])
    animePage.controller('scoreCtrl', function ($scope, $http) {
        $scope.rating = ''
        $scope.anime_id = document.getElementById('anime_id').textContent
        $scope.changeScore = function () {
            $http.get('/rating/' + $scope.anime_id).then(function (response) {
                $scope.rating = response.data
                console.log($scope.rating)
            }, function (error) {
                alert(error.message)
            })
        }


        $scope.changeScore()
    });


    angular.bootstrap(document.getElementById('animePage'), ['animePageApp'])

</script>

</body>
</html>