<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        .tableFixHead {
            overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
            height: 300px; /* gives an initial height of 200px to the table */
        }

        .tableFixHead thead th {
            position: sticky; /* make the table heads sticky */
            top: 0px; /* table head will be placed from the top of the table and sticks to it */
        }

        table {
            border-collapse: collapse; /* make the table borders collapse to each other */
            width: 100%;
        }

        th,
        td {
            padding: 8px 16px;
            border: 1px solid #ccc;
        }

        th {
            background: #eee;
        }
    </style>

</head>
<body>
<div th:insert="header.html:: header"></div>
<div style="background: black">
    <div class="container">
        <div class="container mx-1">
            <div style="background: white;">
                <div class="row">
                    <div class="col" style="min-width: 70%;">
                        <div class="container mx-1 my-3">
                            <!--                            <div style="background: deepskyblue;min-height: 1000px"></div>-->
                            <div class="container mx-2 my-3">
                                <div class="swiper">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <div th:each="anime : ${firstPageList}" class="swiper-slide">
                                            <div style=";margin-left: 40px"><a th:href="'/anime/'+${anime.title}"
                                                                               style="color: darkblue;text-decoration:none;font-size: 13px;
                                                                min-width: 200px"><img height="250px"
                                                                                       th:src="'/images/'+${anime.poster}">
                                                <div th:text="${anime.title}"></div>
                                            </a></div>
                                        </div>

                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                <script> const swiper = new Swiper('.swiper', {
                                    // Optional parameters
                                    direction: 'horizontal',
                                    loop: true,
                                    coverflowEffect: {
                                        rotate: 0
                                    },
                                    slidesPerView: 3,
                                    spaceBetween: 10,
                                    initialSlide: 0,
                                    // If we need pagination
                                    pagination: {
                                        el: '.swiper-pagination',
                                    },

                                    // Navigation arrows
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },

                                    // And if we need scrollbar
                                    //  scrollbar: {
                                    //  el: '.swiper-scrollbar',
                                    // },
                                });</script>
                            </div>
                        </div>
                        <div class="container mx-3 my-2">
                            <h2 th:text="#{title.lastUpdates}"></h2>
                            <div class="tableFixHead">
                                <table class="table table-striped">
                                    <!--                                    <thead>-->
                                    <!--                                    </thead>-->
                                    <tbody>
                                    <tr style="width: 700px" class="container my-1" th:each="record : ${updates}">

                                            <td style="width: 20%;">
                                                <a style="text-decoration: none; color: black"
                                                   th:href="'/anime/'+${record.episode.anime.title}">
                                                <img height="80px"
                                                     th:src="'/images/'+${record.episode.anime.poster}"></a></td>

                                            <td style="width: 50%" >
                                                <a style="text-decoration: none;color: black "
                                                   th:href="'/anime/'+${record.episode.anime.title}"
                                                   th:text="${record.episode.anime.title}">
                                                </a>
                                            </td>
                                            <td style="width: 30%" >
                                                <a style="text-decoration: none;color:black;"
                                                   th:href="'/anime/'+${record.episode.anime.title}"
                                                   th:text="${record.episode.episodeNum}+' episode'">
                                                </a>
                                         </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                <div class="col" style="min-width: 28%;">
                    <div class="container mx-1">
                        <div style="min-height: 1000px">
                            <div id="topRating" ng-app="topRatingAnime">
                                <div ng-controller="topCtrl">
                                    <div style="background: #dde1ec" class="container"><strong
                                            style="color: #000;text-align: left;
                                        font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;">
                                        Top Rating
                                    </strong>
                                        <a href="/best100" style=" float: right;text-align: right;
                                        margin-left: 60px;color: darkblue;text-decoration:none;">Top 100</a></div>
                                    <div style="max-height: 615px;background: #f5e1e1;">
                                        <div ng-repeat="anime in bestAnimes">
                                            <div style="max-height: 120px;min-height: 120px"
                                                 class="row container my-1">
                                                <div class="col" style="max-width: 82px">
                                                    <a href="/anime/{{anime.title}}"> <img height="110px"
                                                                                           width="75px"
                                                                                           src="/images/{{anime.poster}}"/>
                                                    </a></div>
                                                <div class="col" style="margin-left: 0px">
                                                    <div><a href="/anime/{{anime.title}}"
                                                            style="color: darkblue;text-decoration:none;font-size: 13px;
                                                                min-width: 200px">{{anime.title}}</a>
                                                    </div>
                                                    <small class="text-muted" style="font-size: 10px">
                                                            <span th:if="${!#locale.getLanguage().equals('uk')}"
                                                            >genre: {{anime.genres[0].enName}}, rated {{anime.rate | number:2}}</span>
                                                        <span th:if="${#locale.getLanguage().equals('uk')}"
                                                        >жанр: {{anime.genres[0].ukName}}, оцінено {{anime.rate | number:2}}</span>
                                                    </small>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    topRating = angular.module('topRatingAnime', [])
                                    topRating.controller("topCtrl", function ($scope, $http) {
                                        $scope.bestAnimes = []
                                        $scope.rates = []
                                        $scope.setTop = function () {
                                            $http.get('/best?quantity=5').then(function (response) {
                                                $scope.bestAnimes = response.data;
                                                $scope.getRates()
                                                console.log($scope.bestAnimes)
                                            }, function (error) {
                                                alert(error.message)
                                            })
                                        }


                                        $scope.getRate = function (anime) {
                                            $http.get('/rating/' + anime.id).then(function (response) {
                                                anime.rate = response.data;
                                            }, function (error) {
                                                alert(error.message)
                                            })
                                        }
                                        $scope.getRates = function () {
                                            for (i = 0; i < $scope.bestAnimes.length; i++) {
                                                $scope.getRate($scope.bestAnimes[i])
                                            }
                                        }
                                        $scope.setTop();


                                    })

                                    angular.bootstrap(document.getElementById('topRating'), ['topRatingAnime'])

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>