<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{${title}}">Title</title>
</head>
<body>
<header th:insert="header.html :: header"/>
<div th:if='${title.equals("title.animeNotFound")}' style="text-align: center;margin-top:150px;">
    <h2 th:text="#{${title}}"></h2>
    <div ><span style="font-size: large"
                th:text="#{title.animeTitle}+': '">
    </span>
        <i style="font-size: large"  th:text="${name}">

    </i>
    </div>
</div>
</body>
</html>