<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.uploadPage}"></title>
</head>
<body>
<div th:insert="header.html::header"></div>
<div style="background: black">
    <div class="container">
        <div class="container mx-1">
            <div style="background: white;min-height: 687px">
                <div style="min-height: 40px"></div>
                <div class="container mx-3">
                    <div class="container " ng-app="uploadFormApp" id="uploadApp">
                        <div class="mx-auto mb-3" style="max-width: 450px;align-self: center">
                            <form ng-controller="formCtrl">
                                <input ng-model="field" ng-change="search()" type="text" class="form-control mb-3"
                                       th:placeholder="#{title.animeTitle}"
                                       aria-describedby="basic-addon2">
                                <div style="z-index:10000;margin-left: 0px;position:absolute;max-width:350px;
                            max-height: 600px;background: white;border: black 1px">
                                    <div style="z-index:10000;margin-left: 3px;margin-top:3px;min-height: 160px; max-height:160px; min-width: 350px;
                          color:black"
                                         ng-repeat="anime in animes"
                                    >{{anime.title}}
                                    </div>
                                </div>
                                {{field}}
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" value="1" id="floatingInput"
                                           placeholder="name@example.com">
                                    <label for="floatingInput" th:text="#{title.episode}"></label>
                                </div>
                            </form>
                        </div>
                        <script>
                            upFormApp = angular.module('uploadFormApp', [])

                            upFormApp.controller('formCtrl', function ($scope, $http) {
                                $scope.search = function () {
                                    if ($scope.field.length > 2) {
                                        $http.get("/search/" + $scope.field + "?size=3")
                                            .then
                                            (function (response) {
                                                $scope.animes = response.data.content;
                                                console.log($scope.animes)
                                            }, function (error) {
                                                alert(error.message)
                                            });
                                    } else {
                                        $scope.animes = []
                                    }
                                }


                            })


                            angular.bootstrap(document.getElementById('uploadApp'), ['uploadFormApp'])
                        </script>
                    </div>
                    <script>
                        uploadForm = document.getElementById('uploadForm')
                        filesInput = document.getElementById('fileInput')
                        uploadForm.onsubmit = event => {
                            event.preventDefault();
                            // Make sure files are selected
                            if (filesInput.files.length < 1) {
                                uploadForm.querySelector('button').innerHTML = 'Please select a file!';
                            } else {
                                // Create the form object
                                let uploadFormDate = new FormData(uploadForm);
                                // Initiate the AJAX request
                                let request = new XMLHttpRequest();
                                // Ensure the request method is POST
                                request.open('POST', uploadForm.action);
                                // Attach the progress event handler to the AJAX request
                                request.upload.addEventListener('progress', event => {
                                    // Add the current progress to the button
                                    uploadForm.querySelector('button').innerHTML = 'Uploading... ' + '(' + ((event.loaded / event.total) * 100).toFixed(2) + '%)';
                                    // Update the progress bar
                                    uploadForm.querySelector('.progress').style.background = 'linear-gradient(to right, #25b350, #25b350 ' + Math.round((event.loaded / event.total) * 100)
                                        + '%, #e6e8ec ' + Math.round((event.loaded / event.total) * 100) + '%)';
                                    // Disable the submit button
                                    uploadForm.querySelector('button').disabled = true;
                                });
                                // The following code will execute when the request is complete
                                request.onreadystatechange = () => {
                                    if (request.readyState == 4 && request.status == 200) {
                                        // Output the response message
                                        uploadForm.querySelector('.result').innerHTML = request.responseText;
                                    }
                                };
                                // Execute request
                                request.send(uploadFormDate);
                            }
                        };


                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--                            <div style="z-index:10000;margin-left: 0px;position:absolute;max-width:350px;-->
<!--                            max-height: 600px;background: white;border: black 1px">-->
<!--                                <div style="z-index:10000;margin-left: 3px;-->
<!--                                margin-top:3px;min-height: 160px; max-height:160px; min-width: 350px;-->
<!--                          color:black"-->
<!--                                     ng-repeat="anime in animes"-->
<!--                                >-->
<!--                                    <div>-->
<!--                                        <a href="/anime/{{anime.id}}"-->
<!--                                           style="z-index:10000;text-decoration: none; color: black">{{anime.title}}</a>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->